.displayBar {
    display: flex;
    flex-direction: column;
    background-color: var(--neutral-900);
    border-right: solid 1px var(--neutral-700);
}

.toolbar {
    height: calc(var(--line-height-base) * 2 / 3);
    width: 100%;

    flex-shrink: 0;
}

.cardDisplay {
    width: 100%;
    flex-grow: 1;
}