.projectCard {
    background-color: var(--neutral-800);
    padding: var(--spacing-xs);
    border-radius: var(--border-radius-sm);
    display: flex;
    flex-direction: column;
}
.projectCard:hover {
    outline: 1px solid var(--color-primary-hover);
}
.focus {
    background-color: var(--color-primary);
}

.level1 {
    height: var(--line-height);
    width: 100%;

    padding: 0 var(--spacing-sm);
    background-color: inherit;
    gap: var(--spacing-xs);
    display: flex;
    align-items: center;
}
.checkbox {
    font-size: var(--font-size-sm);
}
.title {
    height: 100%;
    flex: 1;
    
    font-family: var(--font-family-sans);
    font-weight: var(--font-weight-bold);
    background-color: inherit;
    color: var(--font-color-base);
    border: none;
    outline: none;
    font-size: var(--font-size-base);
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
}
.completed {
    opacity: var(--opacity);
}

.completed .title {
    text-decoration: line-through;
    color: var(--font-color-light);
}

.level2 {
    height: calc(var(--line-height) * 0.3);
    width: 100%;
    
    padding: 0 var(--spacing-sm) var(--spacing-sm) 0;
    background-color: inherit;
    display: flex;
    flex-direction: row-reverse;
}
.expendButton {
    height: 100%;
    width: auto;

    font-size: var(--font-size-base);
    color: var(--font-color-light);
    display: flex;
    align-items: center;
    justify-content: center;
}
.expendButton:hover {
    color: var(--color-primary-hover);
}

.level3 {
    margin-left: var(--spacing-md);

    display: flex;
    flex-direction: column;
    background-color: inherit;
    gap: var(--spacing-xs)
}

.taskCard {
    height: calc(var(--line-height) * 1.3);
    width: 100%;
}