@import "tailwindcss";

* {
    font-family: Arial, Helvetica, sans-serif;
    
    box-sizing: border-box;
}

html, body, #__next {
    height: 100vh;

    margin: 0;
    padding: 0;

    overflow: hidden;

    background: #0a0a0a;
    color: #ffffff;
}

::-webkit-scrollbar {
    width: 6px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 0.25rem;
}
::-webkit-scrollbar-track:hover {
    background: transparent;
    border-radius: 0.25rem;
}
::-webkit-scrollbar-thumb {
    background: #a1a1a1;
    border-radius: 0.25rem;
}
::-webkit-scrollbar-thumb:hover {
    cursor: default;
    background: white;
}