.emptyItem {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.information {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: var(--spacing-sm);
}

.mainInfo {
    height: var(--line-height-base);
    width: auto;

    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
    background-color: var(--neutral-700);
    padding: var(--spacing-md);
    border-radius: var(--border-radius-sm);
}
.checkbox {
    font-size: var(--font-size-sm);
}
.title {
    font-weight: var(--font-weight-bold);
    color: var(--font-color-base);
    outline: none;
    border: none;
    background-color: inherit;
    overflow: hidden;

}
.description {
    height: auto;
    width: 40rem;
    color: var(--font-color-light);
    background-color: var(--neutral-700);
    padding: var(--spacing-md);
    border-radius: var(--border-radius-sm);
    resize: none;
    border: none;
    outline: none;
    overflow-y: auto;
}
.description::-webkit-scrollbar {
    width: 4px;
}
.description::-webkit-scrollbar-track {
    background: transparent;
}
.description::-webkit-scrollbar-thumb {
    background: var(--neutral-600);
    border-radius: var(--border-radius-sm);
}
.description::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary-hover);
}