.taskCard {
    background-color: hsl(0, 0%, 23%);
    display: flex;
    border-radius: 1rem;
    margin: 0.25rem;
}

.focus {
    background-color: hsl(200, 100%, 30%);
}

.title {
    flex: 1;
    color: white;
}