.toolbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: hsl(0, 0%, 22%);
  color: hsl(0, 0%, 50%);
  padding: 0.15rem 0;
}

.sortTask {
  height: 80%;
  width: auto;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.sortByTitle {
  flex: 1;
  height: 100%;
  background-color: hsl(0, 0%, 25%);
  border: none;
  color: hsl(0, 0%, 70%);
  border-radius: 0.25rem;
  line-height: 100%;
}
.sortByTitle:focus {
  outline: none;
  border: 1px solid hsl(200, 100%, 35%);
}

.addTask {
  height: 80%;
  width: auto;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}