.toolbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: hsl(0, 0%, 20%);
}

.sortTask {
  color: hsl(0, 0%, 70%);
  background-color: hsl(0, 0%, 25%);
  height: 100%;
  width: 1.5rem;
}

.sortType {
    flex: 1;
    height: 100%;
    background-color: hsl(0, 0%, 25%);
    padding: 0 0.5rem;
    color: hsl(0, 0%, 70%);
}

.addTask {
  color: hsl(0, 0%, 70%);
  background-color: hsl(0, 0%, 25%);
  height: 100%;
  width: 1.5rem;
}