.sidebar {
    --sidebar-padding: var(--spacing-xs);
    
    display: flex;
    flex-direction: column;
    padding: var(--sidebar-padding);
    gap: var(--spacing-xs);
    border-right: solid 1px var(--neutral-700);
}

.sidebarNav {
    height: calc(var(--sidebar-width) - 2 * var(--sidebar-padding));
    width: calc(var(--sidebar-width) - 2 * var(--sidebar-padding));
    border-radius: var(--border-radius-xs);

    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebarNav.focus {
    background-color: var(--color-primary);
}
.sidebarNav:hover {
    background-color: var(--color-primary-hover);
}