.inputText {
    background-color: inherit;                      /*边框部分*/
    border: 0;
    outline: 0;
    border-radius: var(--border-radius);
    padding: var(--space-2);

    display: flex;                                  /*文字部分*/
    align-items: center;
    color: var(--text-color);
    font-weight: var(--font-weight);
    font-size: var(--font-size);
    font-family: inherit;

    transition: background-color var(--transition-time-1) ease;
}
    .inputText::placeholder {
        color: var(--text-color-light);
        transition: color 0.2s ease;
    }

    .inputText:not(:focus):hover {
        background-color: var(--color-theme-highlight);
    }
    .inputText:focus {
        background-color: var(--color-theme);
    }
    .inputText:not(:focus):hover::placeholder {
        color: var(--text-color-theme-light);
    }
    .inputText:focus::placeholder {
        color: var(--text-color-theme-light);    
    }