* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  overflow: hidden;
}

.sidebar {
  width: 3rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  background-color: hsl(0, 0%,10%);
}
.sidebar img {
  height: 5%;
  width: 100%
}

.page {
  height: 100%;
  width: 100%;
  background-color: hsl(0, 0%, 20%);
}
.page > div {
  height: 100%;
  width: 100%;
  display: flex;
}

.task-view {
  min-width: 15rem;
  width: 18%;
  height: 100%;
  background-color: hsl(0, 0%, 25%);
  display: flex;
  flex-direction: column;
}
.task-view .task-card {
  width: 100%;
  height: 10%;
  max-height: 4rem;
  display: grid;
  grid-template: auto 1fr / 1rem repeat(7,1fr);
  background-color: hsl(0, 0%, 28%);
  border-radius: 10%;
  padding: 5px;
  margin-bottom: 0.25rem;
}
.task-view .task-card .task-name {
  grid-area: 1 / 2 / 2 / -1;
  overflow: hidden;
}
.task-view .task-card .task-change-completion {
  grid-area: 1 / 1 / 2 / 2;
}
.task-view .task-card .task-delete {
  height: 100%;
  width: 100%;
  grid-area: 2 / -2 / 2 / -1;
}

.input-chat-frame {
  max-height: 10%;
  width: 100%;
  padding: 1.5% 13% 1.5% 13%;
  align-self: flex-end;
}
.input-chat-frame .input-chat-context-frame {
  height: 100%;
  width: 100%;
  background-color: hsl(0, 0%, 28%);
  border-radius: 24px;
  padding: 15px;
  overflow: hidden;
  display: flex;
}
.input-chat-frame .input-chat-context-frame .text {
  height: 100%;
  width: 90%;
  resize: none;
  border: none;
  background-color: hsl(0, 0%, 28%);
}
.input-chat-frame .input-chat-context-frame .text:focus {
  outline: none;
  border: none;
}
.input-chat-frame .input-chat-context-frame .enter {
  width: 1rem;
  text-align: center;
}

.task-manage-view {
  min-width: 15rem;
  width: 18%;
  height: 100%;
  background-color: hsl(0, 0%, 25%);
  display: flex;
  flex-direction: column;
}
.task-manage-view .task-card {
  width: 100%;
  height: 10%;
  max-height: 4rem;
  display: grid;
  grid-template-columns: 1rem repeat(7,1fr);
  background-color: hsl(0, 0%, 28%);
  border-radius: 10%;
  padding: 5px;
  margin-bottom: 0.25rem;
}
.task-manage-view .task-card .task-name {
  grid-area: 1 / 2 / 2 / -1;
  overflow: hidden;
}
.task-manage-view .task-card .task-change-completion {
  grid-area: 1 / 1 / 2 / 2;
}

.task-manage-view .task-card-completed {
  width: 100%;
  height: 10%;
  max-height: 4rem;
  display: grid;
  grid-template-columns: 1rem repeat(7,1fr);
  border-radius: 10%;
  padding: 5px;
  margin-bottom: 0.25rem;
  background-color: hsl(0, 0%, 28%);
  opacity: 0.5;
  text-decoration: line-through;
}

.task-information {
}