:root {
    --color-darker: #232323;
    --color-dark: #464646;
    --color-base: #696969;
    --color-light: #8c8c8c;
    --color-lighter: #afafaf;

    --color-theme: hsl(218, 100%, 35%);
    --color-theme-highlight: hsl(218, 100%, 45%);

    --text-color: hsl(0, 0%, 100%);
    --text-color-light: hsl(0, 0%, 60%);
    --text-color-theme-light: hsl(218, 50%, 55%); 

    --font-weight: 400;
    --font-weight-bold: bold;

    --font-size: 1rem;

    --space-1: 0.2rem;
    --space-2: 0.5rem;

    --transition-time-1: 0.2s;

    --border-radius: 3px;

}

html, head, body, #root {
    height: 100%;
    width: 100%;
    background-color: var(--color-darker);
}

* {
    box-sizing: border-box;
}