:root {
  --color-primary: hsl(200, 100%, 20%);
  --color-primary-hover: hsl(200, 100%, 25%);

  --neutral-1000: hsl(0, 0%, 0%);
  --neutral-900: hsl(0, 0%, 10%);
  --neutral-800: hsl(0, 0%, 20%);
  --neutral-700: hsl(0, 0%, 30%);
  --neutral-600: hsl(0, 0%, 40%);
  --neutral-500: hsl(0, 0%, 50%);
  --neutral-400: hsl(0, 0%, 60%);
  --neutral-300: hsl(0, 0%, 70%);
  --neutral-200: hsl(0, 0%, 80%);
  --neutral-100: hsl(0, 0%, 90%);
  --neutral-000: hsl(0, 0%, 100%);
  
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;

  --line-height-sm: 1.2rem;
  --line-height-base: 3rem;

  --font-family-sans: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  
  --font-color-lighter: var(--neutral-400);
  --font-color-light: var(--neutral-300);
  --font-color-base: var(--neutral-100);

  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.125rem;
  
  --font-weight-base: 800;
  --font-weight-bold: bold;

  --border-radius-xs: 3px;
  --border-radius-sm: 5px;

  --opacity: 0.6
}

* {
  box-sizing: border-box;
}

html, body, #root{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}